<div class="container">
    <div class="card" style="max-width:100%;">
        <div class="row">
            <div class="col-12">
                <img src="{{config.image}}">
            </div>
        </div>
        <div class="col-6">

            <h3><b>{{config.topic}}</b></h3>
            <br>{{config.description}}
        </div>
        <div class="col">
            <h2>{{config.rate}}</h2>
            {{config.offer}}
        </div>
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Add To Cart</a>

        <a href="#" class="btn btn-warning">Buy now</a>

    </div>

</div>